* {
    background-color: #f0dbc2;
    box-sizing: border-box;
}

a {
    white-space: nowrap;
}

.container {
    background-color: #f0d2ae;
    text-align: center;
}

.box {
    display: table;
    border-radius: 5px;
    background-color: #d8aa8b;
    box-shadow: 0 0 10px rgba(7, 6, 6, 0.145);
    padding: 5px;
    margin: 10px auto;
    max-width: 100%;
}

.section {
    text-align: left;
    display: block;
    padding: 1rem;
}

.hidden {
    display: none;
}

/* Table with the language stats results */
#results-table {
    font-size: 0.7rem;
    border-spacing: 0;
    outline: 1px solid black;
    border-collapse: collapse;
}

.bars-row {
    position: relative;
    height: 10em;
    outline: 1px solid black;
}

.bars-row td {
    position: relative;
    min-width: 3.5ch;
}

.lang-header-row td {
    font-size: 0.6rem;
}

.total-row {
    font-weight: bold;
}

tr:nth-of-type(n+2) td {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

td {
    padding: 0 0.05rem;
    text-align: center;
    background: white;
}

td:nth-of-type(1) {
    text-align: left;
}

.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 3ch;
    background: blue;
}

/* Scroll bar for languageCount */
.language-count {
    input[type=range] {
        display: none;
    }

    display: table;
    justify-content: center;
    align-items: center;

    .language-count-bar-hoverbox {
        padding: 10px 15px;
        opacity: 0.7;
        transition: opacity .2s;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    .language-count-bar {
        background: #5b1f02;
        height: 7px;
        width: 120px;
        border-radius: 15px;
        overflow: hidden;
        pointer-events: none;

        .language-count-bar-fill {
            background: #FFF;
            width: 0%;
            height: 100%;
            background-clip: border-box;
            pointer-events: none;
        }
    }
}